<p>Ola {{nome}} Você esqueceu a senha? sem problemas <a href="http://localhost:3000/resetPassword/">Resetar senha</a> </p>
<p>Esse é seu token : {{token}}</p>
<p>Cole seu token no campo indicado "Token"</p>